

# Byggfiler
bin/
obj/
out/
bin/Debug/net8.8/

# Brukerspesifikke innstillinger
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Miljøfiler (hemmeligheter)
appsettings.Development.json
appsettings.Local.json
secrets.json

# Oppstartskonfig (valgfritt å ignorere)
launchSettings.json
